html, body {
    font-family: "UbuntuRegular", "Ubuntu", "sans-serif", "sans";
}

#app {
    display: block;
    width: 100%;
    height: 20%;
}

#app-logo, #app-display, #app-contacts, #app-society {
    display: block;
    width: 100%;
    height: 20%;
    border: 1px solid #000;

}


#app-logo-element {
    width: 500px;
    height: 100px;
    margin-top: 100px;
    right: 5%;
    background: url("/images/logo.png") no-repeat center center;
}

#app-display-wrapper {
    height: 460px;
    width: 1230px;
    margin: 0 auto;
}

#app-display-particles {
    /*width: 1230px;*/
    width: 100%;

    height: 265px;
    position: absolute;
    margin-top: 100px;
    margin-left: 0px;
}

#app-display-display {
    padding: 100px 0;
    position: absolute;
}

#app-display-display img{
    display: block;
    margin: 0 auto;
    width: 100%;
    /* border: 15px solid #ddd; */
    border-radius: 140px;
    box-shadow: 0 0 0px 15px #fff,
                0 0 35px 40px rgba(0, 0, 0, 0.45),
                0 0 0px 60px #fff;
}



/*FORM*/
#app-contacts  {
    padding: 25px 0;
}
#app-contacts-form {
    width: 20%;
    margin: 10px auto;
    text-align: center;
}

#app-contacts-form > input {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border: 2px solid #4e4e4e;
    border-radius: 30px;
    padding: 10px 10px;
    text-align: center;
    color: #4e4e4e;
    font-size: 1.2em;
    box-shadow: inset 0 0 10px 5px #c7c7c7;
}

/*
"UbuntuCondensedRegular", "UbuntuRegular", "UbuntuLight",
*/

#app-contacts-btn-action>div{
    margin: 0 auto;
}

#app-contacts-btn-send>div {
    margin: 0 auto;
}

/*SOCIAL*/

.btn {
    width: 150px;
    border-radius: 18px;
    font-family: "UbuntuRegular", "Ubuntu", "sans-serif", "sans";
    font-size: 1.4em;
    padding: 16px 0;
    color: #ececec;
    background: #f00;
    text-align: center;
}

.btnr {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: #f00;
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.5);
    /*position: absolute;*/
}


